@use "sass:map";
@import "../utils/variables";

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #75787D;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 0.35rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:disabled {
        border-color: map-get($map: $colors, $key: "muted");
        background-color: lighten(map-get($map: $colors, $key: "muted"), 5);
        opacity: 1;
    }

    &:focus {
        color: map-get($map: $colors, $key: "color");
        border-color: map-get($map: $colors, $key: "primeBlue");
        background-color: transparent;
        outline: 0;
        box-shadow: none;
    }

    &.lg {
        height: calc(1.5em + 1rem + 2px);
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.6rem;
    }

    &.sm {
        height: calc(1.5em + 0.5rem + 2px);
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }
}

@each $name,
$color in $colors {
    .form-control-#{""+name} {
        border-color: $color;
    }
}