 @import "../mixins/responsive";

 // Container class
 .container {
     width: 100%;
     margin-right: auto;
     margin-left: auto;
 }

 // Container fluid class
 .container-fluid {
     width: 100%;
     margin-right: auto;
     margin-left: auto;
 }

 .container,
 .container-fluid {
     padding-right: 15px;
     padding-left: 15px;
 }

 // Media query for responsive behavior (adjust as needed)


 .container {
     @include media(sm) {
         max-width: 540px;
     }

     @include media(md) {
         max-width: 720px;
     }

     @include media(lg) {
         max-width: 960px;
     }

     @include media(xl) {
         max-width: 1140px;
     }
 }