.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.35rem !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.round {
  border-radius: 1.5rem !important;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #342e49;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.3rem 1.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-contain-primary {
  background-color: red;
  border-color: red;
  color: #FFF;
}
.btn-contain-primary:hover {
  background-color: #ff3333;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #ff3333;
}
.btn-contain-primary:active {
  background-color: #ff3333;
}

.btn-outline-primary {
  color: red;
  border-color: red;
}
.btn-outline-primary:hover {
  background-color: #ff3333;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #ff3333;
  color: #FFF;
}
.btn-outline-primary:active {
  background-color: red;
}

.btn-text-primary {
  color: red;
  font-weight: bold;
}
.btn-text-primary:hover {
  background-color: #ff8080;
}
.btn-text-primary:active {
  background-color: #ff7575;
}

.btn-contain-secondary {
  background-color: #616d89;
  border-color: #616d89;
  color: #FFF;
}
.btn-contain-secondary:hover {
  background-color: #7b87a2;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #7b87a2;
}
.btn-contain-secondary:active {
  background-color: #7b87a2;
}

.btn-outline-secondary {
  color: #616d89;
  border-color: #616d89;
}
.btn-outline-secondary:hover {
  background-color: #7b87a2;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #7b87a2;
  color: #FFF;
}
.btn-outline-secondary:active {
  background-color: #616d89;
}

.btn-text-secondary {
  color: #616d89;
  font-weight: bold;
}
.btn-text-secondary:hover {
  background-color: #a8b0c1;
}
.btn-text-secondary:active {
  background-color: #a2aabd;
}

.btn-contain-success {
  background-color: #40c057;
  border-color: #40c057;
  color: #FFF;
}
.btn-contain-success:hover {
  background-color: #66cd79;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #66cd79;
}
.btn-contain-success:active {
  background-color: #66cd79;
}

.btn-outline-success {
  color: #40c057;
  border-color: #40c057;
}
.btn-outline-success:hover {
  background-color: #66cd79;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #66cd79;
  color: #FFF;
}
.btn-outline-success:active {
  background-color: #40c057;
}

.btn-text-success {
  color: #40c057;
  font-weight: bold;
}
.btn-text-success:hover {
  background-color: #a0e0ab;
}
.btn-text-success:active {
  background-color: #98dda5;
}

.btn-contain-info {
  background-color: #2f8be6;
  border-color: #2f8be6;
  color: #FFF;
}
.btn-contain-info:hover {
  background-color: #5da4eb;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #5da4eb;
}
.btn-contain-info:active {
  background-color: #5da4eb;
}

.btn-outline-info {
  color: #2f8be6;
  border-color: #2f8be6;
}
.btn-outline-info:hover {
  background-color: #5da4eb;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #5da4eb;
  color: #FFF;
}
.btn-outline-info:active {
  background-color: #2f8be6;
}

.btn-text-info {
  color: #2f8be6;
  font-weight: bold;
}
.btn-text-info:hover {
  background-color: #a1caf4;
}
.btn-text-info:active {
  background-color: #98c5f3;
}

.btn-contain-warning {
  background-color: #f77e17;
  border-color: #f77e17;
  color: #FFF;
}
.btn-contain-warning:hover {
  background-color: #f99948;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f99948;
}
.btn-contain-warning:active {
  background-color: #f99948;
}

.btn-outline-warning {
  color: #f77e17;
  border-color: #f77e17;
}
.btn-outline-warning:hover {
  background-color: #f99948;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f99948;
  color: #FFF;
}
.btn-outline-warning:active {
  background-color: #f77e17;
}

.btn-text-warning {
  color: #f77e17;
  font-weight: bold;
}
.btn-text-warning:hover {
  background-color: #fbc392;
}
.btn-text-warning:active {
  background-color: #fbbd88;
}

.btn-contain-danger {
  background-color: #f55252;
  border-color: #f55252;
  color: #FFF;
}
.btn-contain-danger:hover {
  background-color: #f88282;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f88282;
}
.btn-contain-danger:active {
  background-color: #f88282;
}

.btn-outline-danger {
  color: #f55252;
  border-color: #f55252;
}
.btn-outline-danger:hover {
  background-color: #f88282;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f88282;
  color: #FFF;
}
.btn-outline-danger:active {
  background-color: #f55252;
}

.btn-text-danger {
  color: #f55252;
  font-weight: bold;
}
.btn-text-danger:hover {
  background-color: #fccbcb;
}
.btn-text-danger:active {
  background-color: #fbc1c1;
}

.btn-contain-light {
  background-color: #dbdee5;
  border-color: #dbdee5;
  color: #FFF;
}
.btn-contain-light:hover {
  background-color: #f9f9fa;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f9f9fa;
}
.btn-contain-light:active {
  background-color: #f9f9fa;
}

.btn-outline-light {
  color: #dbdee5;
  border-color: #dbdee5;
}
.btn-outline-light:hover {
  background-color: #f9f9fa;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f9f9fa;
  color: #FFF;
}
.btn-outline-light:active {
  background-color: #dbdee5;
}

.btn-text-light {
  color: #dbdee5;
  font-weight: bold;
}
.btn-text-light:hover {
  background-color: white;
}
.btn-text-light:active {
  background-color: white;
}

.btn-contain-dark {
  background-color: #1a051d;
  border-color: #1a051d;
  color: #FFF;
}
.btn-contain-dark:hover {
  background-color: #410d49;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #410d49;
}
.btn-contain-dark:active {
  background-color: #410d49;
}

.btn-outline-dark {
  color: #1a051d;
  border-color: #1a051d;
}
.btn-outline-dark:hover {
  background-color: #410d49;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #410d49;
  color: #FFF;
}
.btn-outline-dark:active {
  background-color: #1a051d;
}

.btn-text-dark {
  color: #1a051d;
  font-weight: bold;
}
.btn-text-dark:hover {
  background-color: #7c188a;
}
.btn-text-dark:active {
  background-color: #741681;
}

/*# sourceMappingURL=button.module.css.map */
