.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.35rem !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.round {
  border-radius: 1.5rem !important;
}

.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.35rem !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.round {
  border-radius: 1.5rem !important;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #342e49;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 7rem;
}

.btn-contain-primary {
  background-color: #fe6b68;
  border-color: #fe6b68;
  color: #fff;
}
.btn-contain-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-primary:disabled {
  background-color: #fe8481;
}

.btn-outline-primary {
  color: #fe6b68;
  border-color: #fe6b68;
  font-weight: bold;
}
.btn-outline-primary:hover:enabled {
  background-color: #fe9d9b;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #fe9d9b;
  color: #fff;
}
.btn-outline-primary:disabled {
  border-color: #fe9d9b;
  color: #fe9d9b;
}
.btn-outline-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-primary {
  color: #fe6b68;
  font-weight: bold;
}
.btn-text-primary:hover:enabled {
  background-color: #ffe7e7;
}
.btn-text-primary:disabled {
  color: #fe9d9b;
}
.btn-text-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-secondary {
  background-color: #eaad57;
  border-color: #eaad57;
  color: #fff;
}
.btn-contain-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-secondary:disabled {
  background-color: #edb86e;
}

.btn-outline-secondary {
  color: #eaad57;
  border-color: #eaad57;
  font-weight: bold;
}
.btn-outline-secondary:hover:enabled {
  background-color: #f0c384;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f0c384;
  color: #fff;
}
.btn-outline-secondary:disabled {
  border-color: #f0c384;
  color: #f0c384;
}
.btn-outline-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-secondary {
  color: #eaad57;
  font-weight: bold;
}
.btn-text-secondary:hover:enabled {
  background-color: #f8e4c8;
}
.btn-text-secondary:disabled {
  color: #f0c384;
}
.btn-text-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-success {
  background-color: #4c7a5a;
  border-color: #4c7a5a;
  color: #fff;
}
.btn-contain-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-success:disabled {
  background-color: #568a66;
}

.btn-outline-success {
  color: #4c7a5a;
  border-color: #4c7a5a;
  font-weight: bold;
}
.btn-outline-success:hover:enabled {
  background-color: #609971;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #609971;
  color: #fff;
}
.btn-outline-success:disabled {
  border-color: #609971;
  color: #609971;
}
.btn-outline-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-success {
  color: #4c7a5a;
  font-weight: bold;
}
.btn-text-success:hover:enabled {
  background-color: #8db89a;
}
.btn-text-success:disabled {
  color: #609971;
}
.btn-text-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-dark {
  background-color: #153850;
  border-color: #153850;
  color: #fff;
}
.btn-contain-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-dark:disabled {
  background-color: #1a4664;
}

.btn-outline-dark {
  color: #153850;
  border-color: #153850;
  font-weight: bold;
}
.btn-outline-dark:hover:enabled {
  background-color: #205478;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #205478;
  color: #fff;
}
.btn-outline-dark:disabled {
  border-color: #205478;
  color: #205478;
}
.btn-outline-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-dark {
  color: #153850;
  font-weight: bold;
}
.btn-text-dark:hover:enabled {
  background-color: #307fb5;
}
.btn-text-dark:disabled {
  color: #205478;
}
.btn-text-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-muted {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #fff;
}
.btn-contain-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-muted:disabled {
  background-color: #ededed;
}

.btn-outline-muted {
  color: #e0e0e0;
  border-color: #e0e0e0;
  font-weight: bold;
}
.btn-outline-muted:hover:enabled {
  background-color: #fafafa;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #fafafa;
  color: #fff;
}
.btn-outline-muted:disabled {
  border-color: #fafafa;
  color: #fafafa;
}
.btn-outline-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-muted {
  color: #e0e0e0;
  font-weight: bold;
}
.btn-text-muted:hover:enabled {
  background-color: white;
}
.btn-text-muted:disabled {
  color: #fafafa;
}
.btn-text-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-color {
  background-color: #75787d;
  border-color: #75787d;
  color: #fff;
}
.btn-contain-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-color:disabled {
  background-color: #82858a;
}

.btn-outline-color {
  color: #75787d;
  border-color: #75787d;
  font-weight: bold;
}
.btn-outline-color:hover:enabled {
  background-color: #8f9296;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #8f9296;
  color: #fff;
}
.btn-outline-color:disabled {
  border-color: #8f9296;
  color: #8f9296;
}
.btn-outline-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-color {
  color: #75787d;
  font-weight: bold;
}
.btn-text-color:hover:enabled {
  background-color: #b6b8bb;
}
.btn-text-color:disabled {
  color: #8f9296;
}
.btn-text-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-contain-primeBlue {
  background-color: #975aff;
  border-color: #975aff;
  color: #fff;
}
.btn-contain-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}
.btn-contain-primeBlue:disabled {
  background-color: #a774ff;
}

.btn-outline-primeBlue {
  color: #975aff;
  border-color: #975aff;
  font-weight: bold;
}
.btn-outline-primeBlue:hover:enabled {
  background-color: #b78dff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #b78dff;
  color: #fff;
}
.btn-outline-primeBlue:disabled {
  border-color: #b78dff;
  color: #b78dff;
}
.btn-outline-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.btn-text-primeBlue {
  color: #975aff;
  font-weight: bold;
}
.btn-text-primeBlue:hover:enabled {
  background-color: #e7daff;
}
.btn-text-primeBlue:disabled {
  color: #b78dff;
}
.btn-text-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95)
    scaleY(0.95);
}

.spinner {
  color: rgb(229, 231, 235);
  width: 2rem;
  height: 1.5rem;
  display: inline;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.spinner-primary {
  fill: #fe6b68;
}

.spinner-secondary {
  fill: #eaad57;
}

.spinner-success {
  fill: #4c7a5a;
}

.spinner-dark {
  fill: #153850;
}

.spinner-muted {
  fill: #e0e0e0;
}

.spinner-color {
  fill: #75787d;
}

.spinner-primeBlue {
  fill: #975aff;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #75787d;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:disabled {
  border-color: #e0e0e0;
  background-color: #ededed;
  opacity: 1;
}
.form-control:focus {
  color: #75787d;
  border-color: #975aff;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-control.lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.6rem;
}
.form-control.sm {
  height: calc(1em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-control-name {
  border-color: #fe6b68;
}

.form-control-name {
  border-color: #eaad57;
}

.form-control-name {
  border-color: #4c7a5a;
}

.form-control-name {
  border-color: #153850;
}

.form-control-name {
  border-color: #e0e0e0;
}

.form-control-name {
  border-color: #75787d;
}

.form-control-name {
  border-color: #975aff;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-half {
  width: 50%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #342e49;
  background-color: #f7f7f8;
}

/*# sourceMappingURL=main.css.map */
