.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.35rem !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.round {
  border-radius: 1.5rem !important;
}

.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.35rem !important;
}

.rounded-lg {
  border-radius: 0.6rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.round {
  border-radius: 1.5rem !important;
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #342e49;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 7rem;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.btn-contain-primary {
  background-color: #FE6B68;
  border-color: #FE6B68;
  color: #FFF;
}
.btn-contain-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-primary:disabled {
  background-color: #fe8481;
}
.btn-contain-primary:focus, .btn-contain-primary:focus-visible {
  outline-color: #fe8481;
}

.btn-outline-primary {
  color: #FE6B68;
  border-color: #FE6B68;
  font-weight: bold;
}
.btn-outline-primary:focus, .btn-outline-primary:focus-visible {
  outline-color: #fe8481;
}
.btn-outline-primary:hover:enabled {
  background-color: #fe9d9b;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #fe9d9b;
  color: #FFF;
}
.btn-outline-primary:disabled {
  border-color: #fe9d9b;
  color: #fe9d9b;
}
.btn-outline-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-primary {
  color: #FE6B68;
  font-weight: bold;
}
.btn-text-primary:focus, .btn-text-primary:focus-visible {
  outline-color: #fe8481;
}
.btn-text-primary:hover:enabled {
  background-color: #ffe7e7;
}
.btn-text-primary:disabled {
  color: #fe9d9b;
}
.btn-text-primary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-secondary {
  background-color: #EAAD57;
  border-color: #EAAD57;
  color: #FFF;
}
.btn-contain-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-secondary:disabled {
  background-color: #edb86e;
}
.btn-contain-secondary:focus, .btn-contain-secondary:focus-visible {
  outline-color: #edb86e;
}

.btn-outline-secondary {
  color: #EAAD57;
  border-color: #EAAD57;
  font-weight: bold;
}
.btn-outline-secondary:focus, .btn-outline-secondary:focus-visible {
  outline-color: #edb86e;
}
.btn-outline-secondary:hover:enabled {
  background-color: #f0c384;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #f0c384;
  color: #FFF;
}
.btn-outline-secondary:disabled {
  border-color: #f0c384;
  color: #f0c384;
}
.btn-outline-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-secondary {
  color: #EAAD57;
  font-weight: bold;
}
.btn-text-secondary:focus, .btn-text-secondary:focus-visible {
  outline-color: #edb86e;
}
.btn-text-secondary:hover:enabled {
  background-color: #f8e4c8;
}
.btn-text-secondary:disabled {
  color: #f0c384;
}
.btn-text-secondary:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-success {
  background-color: #4C7A5A;
  border-color: #4C7A5A;
  color: #FFF;
}
.btn-contain-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-success:disabled {
  background-color: #568a66;
}
.btn-contain-success:focus, .btn-contain-success:focus-visible {
  outline-color: #568a66;
}

.btn-outline-success {
  color: #4C7A5A;
  border-color: #4C7A5A;
  font-weight: bold;
}
.btn-outline-success:focus, .btn-outline-success:focus-visible {
  outline-color: #568a66;
}
.btn-outline-success:hover:enabled {
  background-color: #609971;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #609971;
  color: #FFF;
}
.btn-outline-success:disabled {
  border-color: #609971;
  color: #609971;
}
.btn-outline-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-success {
  color: #4C7A5A;
  font-weight: bold;
}
.btn-text-success:focus, .btn-text-success:focus-visible {
  outline-color: #568a66;
}
.btn-text-success:hover:enabled {
  background-color: #8db89a;
}
.btn-text-success:disabled {
  color: #609971;
}
.btn-text-success:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-dark {
  background-color: #153850;
  border-color: #153850;
  color: #FFF;
}
.btn-contain-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-dark:disabled {
  background-color: #1a4664;
}
.btn-contain-dark:focus, .btn-contain-dark:focus-visible {
  outline-color: #1a4664;
}

.btn-outline-dark {
  color: #153850;
  border-color: #153850;
  font-weight: bold;
}
.btn-outline-dark:focus, .btn-outline-dark:focus-visible {
  outline-color: #1a4664;
}
.btn-outline-dark:hover:enabled {
  background-color: #205478;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #205478;
  color: #FFF;
}
.btn-outline-dark:disabled {
  border-color: #205478;
  color: #205478;
}
.btn-outline-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-dark {
  color: #153850;
  font-weight: bold;
}
.btn-text-dark:focus, .btn-text-dark:focus-visible {
  outline-color: #1a4664;
}
.btn-text-dark:hover:enabled {
  background-color: #307fb5;
}
.btn-text-dark:disabled {
  color: #205478;
}
.btn-text-dark:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-muted {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  color: #FFF;
}
.btn-contain-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-muted:disabled {
  background-color: #ededed;
}
.btn-contain-muted:focus, .btn-contain-muted:focus-visible {
  outline-color: #ededed;
}

.btn-outline-muted {
  color: #E0E0E0;
  border-color: #E0E0E0;
  font-weight: bold;
}
.btn-outline-muted:focus, .btn-outline-muted:focus-visible {
  outline-color: #ededed;
}
.btn-outline-muted:hover:enabled {
  background-color: #fafafa;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #fafafa;
  color: #FFF;
}
.btn-outline-muted:disabled {
  border-color: #fafafa;
  color: #fafafa;
}
.btn-outline-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-muted {
  color: #E0E0E0;
  font-weight: bold;
}
.btn-text-muted:focus, .btn-text-muted:focus-visible {
  outline-color: #ededed;
}
.btn-text-muted:hover:enabled {
  background-color: white;
}
.btn-text-muted:disabled {
  color: #fafafa;
}
.btn-text-muted:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-color {
  background-color: #75787D;
  border-color: #75787D;
  color: #FFF;
}
.btn-contain-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-color:disabled {
  background-color: #82858a;
}
.btn-contain-color:focus, .btn-contain-color:focus-visible {
  outline-color: #82858a;
}

.btn-outline-color {
  color: #75787D;
  border-color: #75787D;
  font-weight: bold;
}
.btn-outline-color:focus, .btn-outline-color:focus-visible {
  outline-color: #82858a;
}
.btn-outline-color:hover:enabled {
  background-color: #8f9296;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #8f9296;
  color: #FFF;
}
.btn-outline-color:disabled {
  border-color: #8f9296;
  color: #8f9296;
}
.btn-outline-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-color {
  color: #75787D;
  font-weight: bold;
}
.btn-text-color:focus, .btn-text-color:focus-visible {
  outline-color: #82858a;
}
.btn-text-color:hover:enabled {
  background-color: #b6b8bb;
}
.btn-text-color:disabled {
  color: #8f9296;
}
.btn-text-color:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-contain-primeBlue {
  background-color: #975AFF;
  border-color: #975AFF;
  color: #FFF;
}
.btn-contain-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}
.btn-contain-primeBlue:disabled {
  background-color: #a774ff;
}
.btn-contain-primeBlue:focus, .btn-contain-primeBlue:focus-visible {
  outline-color: #a774ff;
}

.btn-outline-primeBlue {
  color: #975AFF;
  border-color: #975AFF;
  font-weight: bold;
}
.btn-outline-primeBlue:focus, .btn-outline-primeBlue:focus-visible {
  outline-color: #a774ff;
}
.btn-outline-primeBlue:hover:enabled {
  background-color: #b78dff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  border-color: #b78dff;
  color: #FFF;
}
.btn-outline-primeBlue:disabled {
  border-color: #b78dff;
  color: #b78dff;
}
.btn-outline-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.btn-text-primeBlue {
  color: #975AFF;
  font-weight: bold;
}
.btn-text-primeBlue:focus, .btn-text-primeBlue:focus-visible {
  outline-color: #a774ff;
}
.btn-text-primeBlue:hover:enabled {
  background-color: #e7daff;
}
.btn-text-primeBlue:disabled {
  color: #b78dff;
}
.btn-text-primeBlue:active:enabled {
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
}

.spinner {
  color: rgb(229, 231, 235);
  width: 2rem;
  height: 1.5rem;
  display: inline;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.spinner-primary {
  fill: #FE6B68;
}

.spinner-secondary {
  fill: #EAAD57;
}

.spinner-success {
  fill: #4C7A5A;
}

.spinner-dark {
  fill: #153850;
}

.spinner-muted {
  fill: #E0E0E0;
}

.spinner-color {
  fill: #75787D;
}

.spinner-primeBlue {
  fill: #975AFF;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #75787D;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #E0E0E0;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:disabled {
  border-color: #E0E0E0;
  background-color: #ededed;
  opacity: 1;
}
.form-control:focus {
  color: #75787D;
  border-color: #975AFF;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-control.lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.6rem;
}
.form-control.sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-control-name {
  border-color: #FE6B68;
}

.form-control-name {
  border-color: #EAAD57;
}

.form-control-name {
  border-color: #4C7A5A;
}

.form-control-name {
  border-color: #153850;
}

.form-control-name {
  border-color: #E0E0E0;
}

.form-control-name {
  border-color: #75787D;
}

.form-control-name {
  border-color: #975AFF;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-2xs {
  width: 24px;
  height: 24px;
}

.avatar-xs {
  width: 32px;
  height: 32px;
}

.avatar-sm {
  width: 40px;
  height: 40px;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 56px;
  height: 56px;
}

.avatar-xl {
  width: 64px;
  height: 64px;
}

.avatar-2xl {
  width: 72px;
  height: 72px;
}

/* PopupMenuButton.module.css */
.popupMenu {
  position: relative;
  display: inline-block;
}
.popupMenu span {
  border: none;
  cursor: pointer;
  margin: 0;
}
.popupMenu .menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  min-width: 120px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
}
.popupMenu .menu > * {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-half {
  width: 50%;
}

.element {
  margin: 20px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin: -10px;
  margin-top: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
  margin-left: -5px;
  margin: auto;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #342E49;
  background-color: #F7F7F8;
}

/*# sourceMappingURL=main.css.map */
